.navigation-bar
{
  background-color: #343A40;
}
.page-footer
{
  text-align: center;
  color: white;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  background:#6cf;
}
.info
{
  background-color : #ffffff;
}

.logo
{
  height:60px;
  width:auto;
  border-radius: 5px;
  border: solid 1px #222528;
}

@media (max-width: 575px)
{
    .logo
    {
        display: none;
    }
}




.card_bordered
{
  border: 1px solid #808182;
  padding: 2%;

}
